@import "../valo/valo.scss";
@mixin tgf {
  @include valo;

  /*=======================================================================*/
  /*GENERAL*/
  /*=======================================================================*/
  .v-app {
    background-color: #ffffff;
  }

  .panel-app-top {
    background-color: #00B4F0;
  }

  .layout-with-border {
    border: 0.2px solid black;
  }

  .v-nativebutton-app-icon-borderless {
    border: none;
    background: transparent url(http://dev.vaadin.com/chrome/site/vaadin-trac.png) no-repeat;
    width: 180px;
    height: 45px;
  }

  .v-nativebutton-borderless {
    border: none;
  }

  .valo-base-color{
    background-color: #00B4F0;
  }

  .valo-menu .valo-menu-badge,
    /*.dashboard-view */.notifications.unread .v-button-caption {
    @include valo-badge-style;
    position: absolute;
    right: round($v-unit-size/3);
    font-size: round($v-font-size * 0.9);
    pointer-events: none;
  }

  /* .dashboard-view */
  .notifications.unread .v-button-caption {
                         display: block;
                         top: round($v-unit-size / -5);
                         right: round($v-unit-size / -5);
                         display: block;
                         z-index: 1;
                       }

  /*=======================================================================*/
  /*LOGIN*/
  /*=======================================================================*/
  .panel-white {
    background-color: #ffffff;
  }

  .panel-transparent {
    background:rgba(0,0,0,0.10);
  }

  .panel-rounded {
    border-radius: 5px;
  }

  .backgroundimage {
    background: url(image-background.jpg);
    background-size: cover;
  }
}
@include tgf;